.barheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  
  .barnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
  }
  
  /* Logo */
  
  .logo-nav {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  /* Menu */
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    padding: 0 15px;
  }
  
  .nav-menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
  
    position: relative;
  }

  .nav-menu a::after {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-menu a.selected::after,
  .nav-menu a:hover::after {
    opacity: 0.8;
  }

  .nav-menu a:hover {
    color: var(--primary-color);
  }
  
  .open-menu,
  .close-menu {
    display: none;
  }
  
  .logotype {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 950px) {
    /* Menu */
    .nav-menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      background-color: var(--menu-mobile-background-color);
      height: 100%;
      overflow-y: auto;
  
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .nav-menu li {
      padding: 0;
    }
  
    .nav-menu a {
      color: var(--text-color-inverse);
      line-height: 60px;
    }
  
    .open-menu,
    .close-menu {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
  
    .close-menu {
      align-self: flex-end;
      padding: 20px 15px;
      color: white;
    }
  
    .menu_opened {
      opacity: 1;
      pointer-events: all;
    }
  
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
      outline: none;
    }

    .nav-menu a::after {
        content: none;
    }
    
    .nav-menu a:hover,
    .nav-menu a.selected {
        color: var(--secondary-color);
    }
  }